<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Rooms</title>
</head>

<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<link href = "hotel.css" rel = "stylesheet" type = "text/css">

<body>
	<div class="container">
		<h1>Update Room</h1>
		<hr>

		<form action="#" th:action="@{/saveRoom}" th:object="${room}"
			method="POST">
			
			Room Number: <input type="text" th:field="*{roomNum}" class="form-control mb-4 col-4">

			Room Price: <input type="text" th:field="*{roomPrice}" class="form-control mb-4 col-4">
				
			Number of Occupants: <input type="text" th:field="*{roomSize}" placeholder="1 - 3" class="form-control mb-4 col-4">
			
			Days Available: <input type="text" th:field="*{availability}" placeholder="Sat - Sun" class="form-control mb-4 col-4">
				
				<button type="submit" class="btn btn-info col-2"> Update Room</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/guestServicePage}"> Back to Reservation List</a>
		<br >
		<a th:href = "@{/viewRooms}"> Back to Room List</a>
	</div>
</body>
</html>